/* Fonts */
@font-face {
    font-family: 'Sedan SC';
    src: url('/assets/fonts/Sedan_SC/SedanSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Italianno';
    src: url(/assets/fonts/Italianno/Italianno-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(/assets/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* End of fonts */
/* Variables */
:root {
    --text-color: #1c1c1c; 
    --background: #f9f6f2;
    --gold-stroke: #D4AF37;
    --gold-shadow: #D4AF3788;
    --footer-nav: #7E6750;
    --footer-background: #FFF6EA;
}
/* End of variables */

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}
/* End of universal selector reset */


/* Set the default background color */
body {
    background-color: var(--background);
    overflow-x: hidden;
}
/* End of body */

/* Header */
header {
    padding-top: 1rem;
    text-align: center;
}

header img {
        height: 10vh;
        width: auto;
}
/* End of header */

/* Navigation bar */
nav ul {
    font-family: 'Italianno';
    list-style-type: none;
    justify-content: space-between;
    margin: 4rem 10%;
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.75rem;
    border-radius: 2px;
    padding: 1px 24px;
    border: 1px ridge transparent;
}

nav a:hover {
    border: 1px ridge var(--text-color);
    box-shadow: 1px 1px 2px var(--gold-shadow);
    transition: border 0.5s ease;
}
/* End of the navigation bar */

/* Hero section */
.hero-section {
    position: relative;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-content {
    font-family: 'Sedan SC';
    color: var(--background);
    font-size: .87rem;
    text-shadow: 1px 1px 2px var(--gold-shadow);
    position: absolute;
    left: 1%;
    top: 35%;
    z-index: 1;
}

.hero-button a{
    text-decoration: none;
    font-family: 'Sedan SC';
    color: var(--background);
    border: 3px solid var(--background);
    box-shadow: 2px 2px 4px var(--gold-shadow);
    transition: box-shadow 0.5s ease;
    border-radius: 4px;
    padding: .5rem 2rem;
    font-size: 2rem;
    position: absolute;
    left: 9%;
    top: 45%;
    z-index: 1;
}

.hero-button a:hover {
    box-shadow: none;
    border-width: 2px;    
}
/* End of hero */

/* Hero about divider (gold line) */
.divider-hero-about {
    width: 100%;
    height: 1px;
    margin: 6rem 0 4rem;
    background-color: var(--gold-shadow);
}
/*  End of divider */

/* About section */
#about {
    margin: 0 4rem;
}

#about h2{
    font-family: 'Sedan SC';
    text-align: center;
    font-size: 2.75rem;
    padding-bottom: 4rem;
    letter-spacing: 4px;
}

.about-images {
    margin: 0 .5%;
    display: flex;
    gap: .5%;
}

.about-images img {
    width: 50%;
    height: auto;
    border: 1px solid var(--gold-stroke);
}

.about-story {
    display: flex;
    margin: .5% 0;
    gap: .5%;
}

.about-name {
    font-family: 'Sedan SC';
}

.about-description {
    border: 1px solid var(--gold-stroke);
    width: 40%;
    padding: 3%;
    margin: 0 0 2rem .5rem;
}

.about-description h4 {
    font-family: 'EB Garamond';
    font-size: 1.25rem;
    font-weight: lighter;
}

.about-story img {
    width: 59%;
    height: auto;
    border: 1px solid var(--gold-stroke);
    margin: 0 .5rem 2rem 0;
}
/* End of about */

/* About products divider (gold line) */
.divider-about-products {
    width: 100%;
    height: 1px;
    margin: 4rem 0;
    background-color: var(--gold-shadow);
}
/*  End of divider */

/* Product section */
#products {
    margin: 0 4rem;
}

#products h2 {
    text-align: center;
    font-size: 2.875rem;
    padding-bottom: 4rem;
}

.collection-row {
    display: flex ;
    gap: 0;
    margin: .5%;
    padding-bottom: 5rem;
    width: 100%;
}
.collection img {
    height: auto;
    width: 97%;
}

.collection h4 {
    font-size: 1.5rem;
    padding-left: .5rem ;
}

.collection p {
    font-size: 1rem;
    padding-left: .5rem ;
}
/* End of product */

/* Products and contact divider (gold line) */
.divider-products-contact {
    width: 100%;
    height: 1px;
    background-color: var(--gold-shadow);
    margin: 2rem 0 2px;
}
/* End of divider */

/* Contact section */
#contact {
    display: flex;
    width: 100%;
    height: auto;
    gap: 1%;
} 

.contact-container {
    max-width: 50%;    
    margin-left: 4rem;
}

.contact-container h2{
    font-family: 'Sedan SC';
    text-align: left;
    font-size: 1.625rem;
    padding: 1.5rem;
    margin-top: 4%;
}

.contact-form {
    display: flex;
}

.contact-form h4 {
    color: var(--footer-nav);
    margin: 18% 11%;
}

.mariana-rossi {
    font-family: 'Italianno';
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.contact-image {
    width: 52%;
    margin-right: 4rem;
}

.contact-image img{
    width: 100%;
    height: auto;
}

form {
    font-family: 'EB Garamond';
    color: var(--footer-nav);
    margin-top: 3%;
}

input, textarea {
    background-color: transparent;
    color: var(--footer-nav);
    font-family: 'EB Garamond';
    font-style: italic;
    font-size: 16px;
    width: 250px;
    margin: 0 12%;
    padding: .5rem;
    border: 1px solid var(--footer-nav);
    border-radius: 2px;
    
}

button {
    font-family: 'EB Garamond';
    background-color: transparent;
    color: var(--footer-nav);
    font-size: 16px;
    padding: .5rem;
    margin: 0 12% 2rem;
    border-radius: 2px;
    cursor: pointer;
    width: 60%;
    border: 1px solid var(--footer-nav);
    box-shadow: 2px 2px 4px var(--gold-shadow);
    text-shadow: 1px 1px 2px var(--gold-shadow);
    transition: box-shadow 0.3s ease;
}

button:hover {
    text-shadow: none;
    box-shadow: none;
}
/* End of contact */

/* Contact and footer divider (gold line)*/
.divider-contact-footer {
    width: 100%;
    height: 1px;
    background-color: var(--gold-shadow);
}
/* End of divider */

/* Footer section */
footer {
    background-color: var(--footer-background);
    display: flex;
}

.footer-logo {
    padding: 2rem;
    width: 50%;
}

.footer-logo img{
    padding: 0 15%;
    width: 70%;
    height: auto;
}

.footer-nav {
    color: var(--footer-nav);
    align-items: center;
    padding: 1rem 2rem;
    width: 50%;
}

.footer-nav ul {
    list-style-type: none;
    padding: 2rem 25% ;
    gap: 1rem;  
    display: flex;
}

.footer-nav p {
padding: 0 20% 1rem;
}

.footer-nav a {
    color: var(--footer-nav);
    font-size: 1rem;
    letter-spacing: 2px;
}
/* End of footer */


@media (max-width: 768px){
    .divider {
        width: 100%;
        height: 1px;
        margin: 6rem auto;
        background-color: var(--gold-shadow);
    }

    /* Header */
    header {
        padding-top: 2rem;
    }

    header img {
            height: auto;
            width: 90%;
    }
    /* End of header */

    /* Navigation bar */
    nav ul {
        margin: 4rem 1% 6rem;
    }

    nav a {
        font-size: 1.5rem;
    }
    /* End of the navigation bar */

    /* Hero section */
    .hero-section {
        overflow:inherit ;
    }


    .hero-content {
        text-shadow: 1px 1px 1px var(--gold-shadow);
        color: var(--text-color);
        font-size: .875rem;
        left: 2%;
        top: -5%;
    }

    .hero-button a{
        color: var(--text-color);
        border: 3px solid var(--text-color);
        left: 20%;
        top: 103%;
    }
    /* End of hero */

    /* Hero about divider (gold line) */
    .divider-hero-about {
        margin: 7rem 0 2rem;
    }
    /*  End of divider */

    /* About section */
    #about {
        margin: 0;
    }

    #about h2{
        font-family: 'Sedan SC';
        text-align: left;
        font-size: 1.75rem;
        padding: 0 2rem 2rem;
    }

    .about-story {
        display: block;
        margin: .5% !important;
        gap: .5%;
    }
    
    .about-description {
        width: 90%;        
    }

    .about-story img {
        width: 99%;
        margin-top: 1%;
    }
    /* End of about */

    /* About products divider (gold line) */
    .divider-about-products {
        margin: 2rem 0 3rem;
    }
    /*  End of divider */

    /* Product section */
    #products {
        width: 100%;
        margin: 0;
    }

    #products h2 {
        font-size: 1.5rem;
    }

    .collection-row {
        display: block;
        padding-bottom: 0;
    }
    .collection img {
        width: 99%;
    }

    .collection p {
        padding-bottom: 4rem;
    }
    /* End of product */

    /* Products and contact divider (gold line) */
    .divider-products-contact {
        margin: 0rem 0 2rem ;
    }
    /* End of divider */

    /* Contact section */
    #contact {
        display: block;
    } 

    .contact-container {
        max-width: 100%;    
        margin: 0;
    }

    .contact-container h2{
        font-family: 'Sedan SC';
        text-align: center;
        font-size: 1.625rem;
        padding: 1rem;
        margin-top: 4%;
    }

    .contact-form {
        display: block;
    }

    .contact-form h4 {
        margin: 2rem 0 3rem 3rem;
    }

    .mariana-rossi {
        letter-spacing: 1px;
    }

    .contact-image {
        width: 100%;

    }

    .contact-image img{
        width: 100%;
    }

    input, textarea {
        margin: 0 16%;
    }

    button {
        margin: 0 16% 2rem;
        width: 40%;
    }
    /* End of contact */

    /* Footer */
    footer {
        display: block
    }

    .footer-logo {
        width: 100%;
    }

    .footer-logo img{
        padding: 0 1rem 0 .875rem;
        width: 80%;
        height: auto;
    }

    .footer-nav {
        display: block;
        width: 100%;
    }

    .footer-nav ul {
        padding: 0rem 2rem 1rem 1rem ;
    }

    .footer-nav a {
        letter-spacing: 1px;
    }

    .footer-nav p {
        padding: 1rem 0 2rem 0;
        font-size: .875rem;
    }
    /* End of footer */
}
